# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Temp directory for uploads
temp/

# IDE specific
.vscode/
.idea/

#pdf files
*.pdf